/* Universal property to set font family */
* {
    font-family: 'Istok Web', sans-serif;
}

/* Gives the header a certain background color */
header {
    background-color: midnightblue;
}

/* Makes the input field stretch to full width */
input {
    width: 100%;
}

/* Background color for the current city and date */
.cityTitle {
    background-color: midnightblue;
    display: none;
}

/* Properties for each future date card */
.card {
    background-image: linear-gradient(royalblue, midnightblue);
    color: white;
    border-style: none;
}

.weatherDivider,
.fiveDayTitle,
.card {
    display: none;
}

/* Properties for the Search button */
#searchBtn {
    width: 100%;
    height: 2.5rem;
    color: white;
    background-color: royalblue;
    border-style: none;
    border-radius: 0.5rem;
}

/* Creates a different background color for when the button is actively being clicked */
#searchBtn:active {
    background-color: midnightblue;
}

/* Properties for the Search History City buttons */
#searchHistory {
    width: 100%;
    height: 2.5rem;
    background-color: darkgrey;
    border-style: none;
    border-radius: 0.5rem;
    display: none;
}

/* Creates a different background color for when the button is actively being clicked */
#searchHistory:active {
    background-color: dimgrey;
}